<div class="flex justify-between mx-4 my-4 text-white font-semibold">
  <div>
    <a href="#" class="pb-2 no-underline hover:border-b-2 border-white">About</a>
  </div>
  <div>
    <a href="#" class="pb-2 no-underline hover:border-b-2 border-white">Doctors</a>
  </div>
</div>
